body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('./images/bg.png')
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.wrapper{
  width: 80%;
  margin: 100px auto;
  padding: 20px;
  background-color: rgb(221, 221, 221);
  opacity: 0.9;
  border-radius: 10px;
}
h1{
  text-align: center;
}
.title{
  text-align: center;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 20px;
  padding-bottom: 20px;

}
input{
  margin: 0 10px;
  height: 30px;
  width: 15%;
  
}
input[type=text]{
  color: black;
  border-radius: 5px;
}
.wrap-input{
  width: 100%;
  margin: auto;
  text-align: center;
  
}
.search-button{
  height: 35px;
  width: 100px;
  border-radius: 5px;
  background-color: #fff;
  
}
::placeholder{
  color: black;
  padding: 5px;
  font-family: Arial, Helvetica, sans-serif;
}
.location{
  text-align: center;
  font-size: 30px;
  
}
.single_day{
  display: inline-block;
  margin: 10px;
  padding: 5px;
  
  text-align: center;
}
.forecast{
  width: 85%;
  margin: auto auto 30px auto;

  
}