body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('./images/bg.png')
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.wrapper{
  width: 80%;
  margin: 100px auto;
  padding: 20px 0px;
  background-color: rgb(221, 221, 221);
  opacity: 0.9;
  border-radius: 10px;
}
h1{
  text-align: center;
}
.title{
  text-align: center;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 20px;
  padding-bottom: 20px;

}

input{
  margin: 0 10px;
  height: 30px;
  width: 15%;
}
input[type=text]{
  color: black;
  border-radius: 5px;
  padding-left: 5px;
}
.wrap-input{
  width: 100%;
  margin: auto;
  text-align: center;
  
}
.search-button{
  height: 35px;
  width: 130px;
  border-radius: 5px;
  background-color: #fff;
  
}
::placeholder{
  color: black;
  padding: 5px;
  font-family: Arial, Helvetica, sans-serif;
}
.location{
  text-align: center;
  font-size: 30px;
  margin-top: 20px;
  
}
.singleDay{
  
  margin: 0 10px;
  padding: 0  10px;
  height: auto;
  text-align: center;
}
.forecast{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  padding: 0 45px;
  margin: 50px auto;
}
.loadingBtn{
  text-align: center;
  
}
#demo1,#demo2,#demo3,#demo4,#demo5 {
  width: 104px;
  text-align: center;
  padding: 15px 0;
  margin: auto;
}
[data-toggle="collapse"].collapsed .hideDetails {
  display: none;
}
[data-toggle="collapse"]:not(.collapsed) .seeDetails {
  display: none;
}
@media only screen and (max-width: 700px) {
  .wrapper{
    width: 90%;
    margin-top: 30px;
  }
  .forecast{
    display: block;
    margin-top: 30px;
  }
  .singleDay{
    margin: 30px 0px;
  }
  input{
    margin: 0 10px;
    height: 30px;
    width: 25%;
  }
} 
@media only screen and (min-width: 700px){
  .forecast{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 30px;
  }
  .singleDay{
    margin: 30px 0px;
  }
  input{
    width: 25%;
  }
}
@media only screen and (min-width: 1000px){
  .forecast{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 30px;
  }
  .singleDay{
    margin: 30px 0px;
  }
  input{
    width: 15%;
  }
}
@media only screen and (min-width: 1200px){
  .forecast{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 30px;
  }
  .singleDay{
    margin: 30px 0px;
  }
}
@media only screen and (min-width: 1450px){
  .forecast{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin-top: 30px;
  }
  .singleDay{
    margin: 30px 0px;
  }
}
